pre,
.c-pre {
	box-sizing: border-box;
	height: 100%;
	position: relative;
	margin: 0;
	padding: 16px;
	max-height: 300px;
	border-radius: 6px;
	text-align: left;
	margin: 1em 0;
	overflow: scroll;
	background: #10052f;

	font-size: 16px;
	margin: 5px;

	-moz-tab-size: 2;
	tab-size: 2;


	& .token-line {
		line-height: 1.5;
		display: table-row;
	}
}

.c-line {

	&-number {
		display: table-cell;
		text-align: right;
		padding-right: 1em;
		user-select: none;
		opacity: 0.5;
	}

	&-content {
		display: table-cell;
	}
}

.c-snippet {
	display: none;
	&--is-active {
		display: block;
	}
}
